[Unit]
Description=Publish Permamote/Gateway data using conix poster
After=mosquitto.service

[Service]
ExecStart=/home/ubuntu/smart-cities-demo/permamote/permamote-poster.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=permamote-poster

[Install]
WantedBy=multi-user.target
