[Unit]
Description="Publish MQTT messages to postgres/timescale"
After=network.target mosquitto.service waved.service

[Service]
Restart=always
User=ubuntu
RestartSec=5
WorkingDirectory=/home/ubuntu/smart-cities-demo/data-ingester/
ExecStart=/home/ubuntu/smart-cities-demo/data-ingester/data_ingester.py

[Install]
WantedBy=multi-user.target
